/* Document Set-up */

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	padding: 0;
	margin: 0;
}

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-size: 14px;
	text-rendering: optimizeLegibility;
	line-height: 26px;
	background-color: #FDFDFD;
	color: black;
}

ul {
	list-style: none;
}

p {
	margin-bottom: 10px; 
}

a {
	cursor: pointer;
    text-decoration: none;
}

#menu {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(146, 143, 134, 0.9);
	left: 0;
	z-index: 100;
	top: -100%;
	-webkit-transition: all .5s ease-out;
}

#menu_content {
	display: table;
	width: 100%;
	font-size: 2rem;
	line-height: 3.5rem;
	height: 100%;
}

#menu_content ul {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	display: table-cell;
	vertical-align: middle;
}

#menu_content li {
	text-align: center;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	color: #fff;
	z-index: 9;
	list-style: none;
}

.menu_open {
	top: 0 !important;
}

a:link { 
	text-decoration: none;
	color: inherit;
}

a:active {  
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

.clear {
	clear: both;
}

.img_scaled {
	width: 100%;
}

.img_scaled_h {
	height: 100%;
}

.img_scaled_w {
	width: 100%;
}

.img_scaled_wh {
	width: 100%;
	height: 100%;
}

.fa {
	margin-right: 2px;
}

::selection {
	background: #f3f4f8;
	text-shadow: none;
}

.btn {
	cursor: pointer;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.transition {
	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/* Pace Progress Bar */


.pace .pace-progress {
  background: #66666a;
  position: fixed;
  z-index: 200000;
  top: 0;
  left: 0;
  height: 3px;
 -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
 -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.pace-inactive {
  display: none;
} 

.loaded {
	-webkit-transform: translateY(0) !important;
	-moz-transform: translateY(0) !important;
	transform: translateY(0) !important;
	opacity: 1 !important;
}

#wrapper {
	margin: 0 auto;
	position: relative;
	-webkit-transform: translateY(60px);
	transform: translateY(60px);
	opacity: 0;
  	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
 	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.section {
   	padding: 20px;
   	padding-right: 25px;
   	padding-bottom: 30px;
}

/* Navbar */

.navbar-container {
	background-color: #FDFDFD;
	opacity: 0;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 99999;
	padding: 15px 20px;
	padding-right: 15px;
	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.navbar-active {
	opacity: 1 !important;
	display: block !important;
	visibility: visible !important;
}

#navbar-item-container {
	opacity: 0;
	visibility: hidden;
	list-style: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	background: #FDFDFD;
	z-index: 999;
	padding-top: 120px;
	padding-left: 20px;
	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.navbar-item {
	margin: 30px 0;
	font-size: 32px;
	line-height: 30px;
	color: #66666a;
}

.navbar-item a {
}

.navbar-item a:active {
	color: #22222a;
}

#navbar-logo {
	width: 30px;
	height: 30px;
	float: left;
}
#button-container {
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	float: right;
}

#button-container button {
	float: right;
	border: none;  
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	padding: 1rem;
	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

button span {
  display: block;
  user-select: none;
}

.lines-button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	 padding: 0;
	 cursor: pointer;
	 user-select: none;
	 background: none;
}

.lines-button:focus {
	outline: none;
	user-select: none;
}

.lines-button:hover {
  opacity: 1;
}

.lines-black {
  width: 1.5rem;
  height: 0.18rem;
  background: black;
  border-radius: 0.15rem;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  position: relative;
  z-index: 1000;
  user-select: none;
}

.lines-black:before, .lines-black:after {
  width: 1.5rem;
  height: 0.18rem;
  background: black;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  content: '';
  user-select: none;
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.lines-white {
  width: 1.7rem;
  height: 0.15rem;
  background: #99999a;
  border-radius: 0.15rem;
  transition: 0.3s;
  position: relative;
  z-index: 1000;
  user-select: none;
  line-height: 63px;
}

.lines-white:before, .lines-white:after {
  width: 1.7rem;
  height: 0.15rem;
  background: #99999a;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  content: '';
  user-select: none;
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.lines-black:before {
  top: .5rem;
}

.lines-black:after {
  top: -.5rem;
}

.lines-white:before {
  top: .5rem;
}

.lines-white:after {
  top: -.5rem;
}

.lines-button.x {
	padding: 1em;
	user-select: none;
}

.lines-button.x.close .lines-black {
  background: transparent;
  user-select: none;
}

.lines-button.x.close .lines-black:before, .lines-button.x.close .lines-black:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  top: 0;
  width: 1.5rem;
  background: #FFF;
  user-select: none;
}

.lines-button.x.close .lines-black:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.lines-button.x.close .lines-black:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lines-button.x.close .lines-white {
  background: transparent;
  user-select: none;
}

.lines-button.x.close .lines-white:before, .lines-button.x.close .lines-white:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  top: 0;
  width: 1.7rem;
  user-select: none;
  background: #dddddf;
}

.lines-button.x.close .lines-white:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.lines-button.x.close .lines-white:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Common Classes */

.subtitle {
	color: #333338;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.text {
	font-size: 16px;
	max-width: 600px;
	font-weight: 400;
	line-height: 26px;
	color: #99999a;
}

.text-button {
	font-size: 16px;
	line-height: 26px !important;
}

.text-button:active {
	color: #22222a;
}

/* Name Section */

#name-section {
	position: relative;
	padding-top: 120px;
}

#name {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333338;
    margin-bottom: 10px;
    line-height: 0.8;
}

#career {
    font-size: 16px;
    color: #66666a;
}

#more-text {
	display: none;
}

/* Work Section */

.card-container {
	float: left;
	width: 50%;
	padding: 0 10px;
}

.card {
	/* height: 400px; */
	width: 100%;
}

.card-desc {
    padding: 20px;
    background: #fff;
    padding-left: 10px;
}

.card-header {
	font-size: 16px;
	color: #333338;
}

.card-subheader {
	letter-spacing: 0.01em;
	color: #99999a;
	font-size: 12px;
}

#ucb-card {
	background-color: #ef5f23;
}

#berkeley-card {
	background-color: #b2d03b;
}

#wdd-card {
	background-color: #54a5c2;
}


#work-arrow {
    float: right;
    position: relative;
    padding-right: 10px;
}

#work-title {
	padding-left: 10px;
	float: left;
}

#work-section {
    padding-left: 10px;
    padding-right: 20px;
}

.fa {
    margin-right: 0;
}

/* Footer Section */

#footer-section {
	color: rgba(0,0,0,0.8);
	font-size: 24px;
	width: 100%;
	padding-bottom: 120px;
	padding-top: 0;
}

#link-container {
	margin-top: 10px;
	color: #66666a;
}

#social-container {
    margin-top: 30px;
}

.social {
	margin-right: 20px;
	color: #66666a;
	font-size: 16px;
	cursor: pointer;
}

.social:active {
	color: #22222a;
}