/* Document Set-up */
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Circular-Light.otf");
}
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Circular-Book.otf");
}
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Circular-Medium.otf");
}
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Circular-Bold.otf");
}
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Circular-Black.otf");
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: 'Circular';
	padding: 0;
	margin: 0;
}

.clear::after {
	content: '';
	clear: both;
	display: block;
}

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-size: 14px;
	text-rendering: optimizeLegibility;
	background-color: #FDFDFD;
	color: black;
}

ul {
	list-style: none;
}

p {
	margin-bottom: 10px;
}

a {
	cursor: pointer;
    text-decoration: none;
}

.img_scaled {
	width: 100%;
}

.img_scaled_h {
	height: 100%;
}

.img_scaled_w {
	width: 100%;
}

.img_scaled_wh {
	width: 100%;
	height: 100%;
}


.fa {
    margin-right: 0;
}

::selection {
	background: #f3f4f8;
	text-shadow: none;
}

.btn {
	cursor: pointer;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.transition {
	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/* Pace Progress Bar */

.pace .pace-progress {
  background: #66666a;
  position: fixed;
  z-index: 200000;
  top: 0;
  left: 0;
  height: 3px;
 -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
 -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.pace-inactive {
  display: none;
} 

.loaded {
	-webkit-transform: translateY(0) !important;
	-moz-transform: translateY(0) !important;
	transform: translateY(0) !important;
	opacity: 1 !important;
}

#scroll-top {
	position: absolute;
	top: 0;
}

.wrapper {
	margin: 0 auto;
	position: relative;
	-webkit-transform: translateY(60px);
	transform: translateY(60px);
	opacity: 0;
}

.text-section {
	padding: 10px 0;
}

.section {
	padding: 15px 0;
}

.frame {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.text-frame {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.nav-frame {
	max-width: 1110px;
	margin: 0 auto;
}

.box-frame {
	max-width: 980px;
	margin: 0 auto;
}

.box-header {
	padding-left: 10px;
}

/* Navigation */

.nav-section {
	padding-top: 60px;
}

.nav-active {
	opacity: 1 !important;
	display: block !important;
	visibility: visible !important;
}

.nav-item-container {
	opacity: 0;
	visibility: hidden;
	list-style: none;
	z-index: 1000;
	float: right;
}

.nav-item {
	float: left;
	margin: 0 14px;
	font-size: 16px;
	line-height: 30px;
	color: #66666a;
}

.nav-item a {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

.nav-item a:hover {
	color: #22222a;
  	border-bottom: 1px solid #dddddf;
}

.nav-logo {
	width: 30px;
	height: 30px;
	float: left;
}
.btn-container {
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	float: right;
}

.btn-container button {
	float: right;
	border: none;  
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	padding: 1rem;
}

button span {
  display: block;
  user-select: none;
}

.lines-btn {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	 padding: 0;
	 cursor: pointer;
	 user-select: none;
	 background: none;
}

.lines-btn:focus {
	outline: none;
	user-select: none;
}

.lines-btn:hover {
  opacity: 1;
}

.lines-black {
  width: 1.5rem;
  height: 0.18rem;
  background: black;
  border-radius: 0.15rem;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  position: relative;
  z-index: 999;
  user-select: none;
}

.lines-black:before, .lines-black:after {
  width: 1.5rem;
  height: 0.18rem;
  background: black;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  content: '';
  user-select: none;
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.lines-white {
  width: 1.7rem;
  height: 0.15rem;
  background: #99999a;
  border-radius: 0.15rem;
  transition: 0.3s;
  position: relative;
  z-index: 999;
  user-select: none;
  line-height: 63px;
}

.lines-white:before, .lines-white:after {
  width: 1.7rem;
  height: 0.15rem;
  background: #99999a;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  content: '';
  user-select: none;
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.lines-black:before {
  top: .5rem;
}

.lines-black:after {
  top: -.5rem;
}

.lines-white:before {
  top: .5rem;
}

.lines-white:after {
  top: -.5rem;
}

.lines-btn.x {
	padding: 1em;
	user-select: none;
}

.lines-btn.x.close .lines-black {
  background: transparent;
  user-select: none;
}

.lines-btn.x.close .lines-black:before, .lines-btn.x.close .lines-black:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  top: 0;
  width: 1.5rem;
  background: #FFF;
  user-select: none;
}

.lines-btn.x.close .lines-black:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.lines-btn.x.close .lines-black:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lines-btn.x.close .lines-white {
  background: transparent;
  user-select: none;
}

.lines-btn.x.close .lines-white:before, .lines-btn.x.close .lines-white:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  top: 0;
  width: 1.7rem;
  user-select: none;
  background: #dddddf;
}

.lines-btn.x.close .lines-white:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.lines-btn.x.close .lines-white:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Common Classes */

.text-section-header, .section-header {
	color: #333338;
	font-size: 20px;
	margin-bottom: 10px;
	letter-spacing: -0.02rem;
}

.text-box-section-header {
	padding-left: 10px;
}

.section-header {
	margin-bottom: 20px;
}

.text-link {
	color: #66666a;
	border-bottom: 1px solid transparent;
}

.text-link:hover {
	color: #22222a;
  	border-bottom: 1px solid #dddddf;
}

.body-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5em;
	color: #99999a;
	letter-spacing: -0.003em;
}

.body-text-btn {
	font-size: 16px;
	color: #66666a;
	border-bottom: 1px solid transparent;
	line-height: 26px !important;
}

.body-text-btn:hover {
	color: #22222a;
  	border-bottom: 1px solid #dddddf;
}

/* Name Section */

#name-section {
	padding-top: 80px;
	/* padding-bottom: 45px; */
}

.lg-header {
    font-size: 48px;
    font-weight: 500;
    color: #333338;
    letter-spacing: -0.02em;
}

.sm-header {
    font-size: 22px;
    font-weight: 300;
    color: #66666a;
    letter-spacing: -0.01em;
}

.body-text-expand {
	display: none;
}

/* Work Section */

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.2);
}

.overlay:hover {
	opacity: 1;
}

.card-container {
	float: left;
	width: 33.3333%;
	padding: 0 10px;
	position: relative;
}

.card-img {
	display: block;
}

.card {
	background-color: #161D38;
	width: 100%;
	position: relative;
}

.card-desc {
    padding: 20px 0;
    width: 100%;
    color: #333338;
    padding-bottom: 0;
}

.card-desc2 {
	padding: 20px;
    width: 100%;
    color: #333338;
    text-align: center;
}

.card-header {
	font-size: 20px;
}

.card-subheader {
	color: #66666a;
	font-weight: 400;
}

#ucb-card {
	background-color: #ef5f23;
}

#berkeley-card {
	background-color: #16325c;
}

#wdd-card {
	background-color: #54a5c2;
}

/* Footer Section */

#footer-section {
	padding-bottom: 60px;
}

.link2-container {
	color: #66666a;
	margin-top: 0px;
}

.link-container {
	margin-top: 10px;
	color: #66666a;
}

.social-container {
    margin-top: 20px;
}

.social {
	margin-right: 14px;
	color: #66666a;
	font-size: 20px;
	cursor: pointer;
	border-bottom: 1px solid transparent;
}

.social:hover {
	color: #22222a;
}

/* Workpages */

.caption-container {
	width: 40%;
	position: absolute;
	top: 0;
	left: 0;
	max-width: 120px;
	text-align: right;
	font-size: 14px;
	color: #99999a;
}

.caption-container:before {
	width: 25%;
	margin-left: 75%;
	display: block;
	content: "";
	border-top: 1px solid rgba(0,0,0,0.15);
	margin-bottom: 10px;
}

.full-img-container {
    width: 70%;
    margin: 0 auto;
}

.full-img-container img {
	display: block;
}