/* Document Set-up */

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	padding: 0;
	margin: 0;
}

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-size: 14px;
	text-rendering: optimizeLegibility;
	line-height: 26px;
	background-color: #FDFDFD;
	/* font-family: "jaf-bernino-sans" !important; */
	color: black;
}

a {
	cursor: pointer;
    text-decoration: none;
}

a:link { 
	color: inherit;
	text-decoration: none;
}

a:active { 
	color: inherit; 
	text-decoration: none;
}

a:visited {
	color: inherit; 
	text-decoration: none;
}

.clear {
	clear: both;
}

.img_scaled {
	width: 100%;
}

.img_scaled_h {
	height: 100%;
}

.img_scaled_w {
	width: 100%;
}

.img_scaled_wh {
	width: 100%;
	height: 100%;
}

.fa {
	margin-right: 2px;
}
/*
::selection {
	background: #f3f4f8;
	color: #fff;
	text-shadow: none;
}
*/
.pace .pace-progress {
  background: #66666a;
  position: fixed;
  z-index: 200000;
  top: 0;
  left: 0;
  height: 3px;
 -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
 -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.pace-inactive {
  display: none;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.btn {
	cursor: pointer;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}
/****************/

.wrapper-active {
	-webkit-transform: translateY(0) !important;
	transform: translateY(0) !important;
	opacity: 1 !important;
}

.navbar-active {
	opacity: 1;
}

#wrapper {
	margin: 0 auto;
	position: relative;
	-webkit-transform: translateY(60px);
	transform: translateY(60px);
	opacity: 0;
  	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
 	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.container {
   	margin-bottom: 60px;
}


/* NAVBAR */

/**** Mobile Button ****/


#button-wrapper {
	/* position: absolute; */
	/* top: 0; */
	/* right: 0; */
	/* z-index: 1000; */
	/* padding: 0.5em; */
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	/* line-height: 63px; */
	/* margin-top: 3px; */
}

#button-wrapper button {
	float: right;
	/* margin: 1.75em 0; */
	border: none;  
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
  	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
 	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	/* margin-top: 19px; */
	/* margin-bottom: 19px; */
	/* margin-right: 2rem; */
	/* line-height: 34px; */
	padding: 1rem;
}

button span {
  display: block;
  user-select: none;
}

.lines-button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	 padding: 0;
	 cursor: pointer;
	 user-select: none;
	 background: none;
}

.lines-button:focus {
	outline: none;
	user-select: none;
}

.lines-button:hover {
  opacity: 1;
}

.lines-black {
  width: 1.5rem;
  height: 0.18rem;
  background: black;
  border-radius: 0.15rem;
    	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
 	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  position: relative;
  z-index: 1000;
  user-select: none;
}

.lines-black:before, .lines-black:after {
  width: 1.5rem;
  height: 0.18rem;
  background: black;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  content: '';
  user-select: none;
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
 	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.lines-white {
  width: 1.7rem;
  height: 0.15rem;
  background: #99999a;
  border-radius: 0.15rem;
  transition: 0.3s;
  position: relative;
  z-index: 1000;
  user-select: none;
  line-height: 63px;
}

.lines-white:before, .lines-white:after {
  width: 1.7rem;
  height: 0.15rem;
  background: #99999a;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  content: '';
  user-select: none;
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
 -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.lines-black:before {
  top: .5rem;
}
.lines-black:after {
  top: -.5rem;
}

.lines-white:before {
  top: .5rem;
}
.lines-white:after {
  top: -.5rem;
}

.lines-button.x {
	padding: 1em;
	user-select: none;
}

.lines-button.x.close .lines-black {
  background: transparent;
  user-select: none;
}

.lines-button.x.close .lines-black:before, .lines-button.x.close .lines-black:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  top: 0;
  width: 1.5rem;
  background: #FFF;
  user-select: none;
}
.lines-button.x.close .lines-black:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.lines-button.x.close .lines-black:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lines-button.x.close .lines-white {
  background: transparent;
  user-select: none;
}

.lines-button.x.close .lines-white:before, .lines-button.x.close .lines-white:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  top: 0;
  width: 1.7rem;
  user-select: none;
  background: #dddddf;
}
.lines-button.x.close .lines-white:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.lines-button.x.close .lines-white:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/********/

.active {
	-webkit-transform: translateY(0px) !important;
	opacity: 1 !important;
}

.active-navbar {
	margin-right: 0 !important;
	opacity: 1 !important;
	display: block !important;
	visibility: visible !important;
}

#navbar_container {
	margin: 0 auto;
	background-color: #FDFDFD;
	color: #fff;
	opacity: 0;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 2000;
	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
 	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	border-bottom: 1px solid transparent;
}



#navbar_content {
	margin: 0 auto;
	padding: 15px 60px;
	padding-right: 46px;
}

#navbar_header {
	float: left;
}

#navbar_header:hover {
	cursor: pointer;
}

#navbar_right {
	float: right;
	margin-right: -20px;
	opacity: 0;
	visibility: hidden;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  -o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#navbar_items {
	margin: 0;
	list-style: none;
	padding: 0;
}

.navbar_item {
	float: left;
	margin: 0 20px;
	font-size: 16px;
	line-height: 30px;
	color: #66666a;
}

.navbar_item a {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

.navbar_item a:hover {
	color: #22222a;
  	border-bottom: 1px solid #dddddf;
}

#img {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	float: left;
}


.navbar_item_divider {
	float: left;
	color: white;
	padding: 0 3px;
	display: none;
	font-size: 5px;
	line-height: 65px;
	font-weight: 400;
}

#nav {
	position: fixed;
	top: 50px;
	z-index: 20000;
	right: 60px;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}

#nav-logo {
    font-size: 24px;
    font-weight: 600;
    color: #333338;
}

#nav-icon {
	width: 40px;
	height: 40px;
}

#landing-cover {
	font-size: 24px;
	position: relative;
	padding-left: 60px;
	padding-top: 120px;
	padding-bottom: 60px;
	color: #fff;
	margin-top: 60px;
}

#berkeley {
	font-size: 22px;
	font-style: italic;
}

#page-wrapper {
	padding: 60px 50px;
	padding-bottom: 0;
	background: #fff;
}


.section {
}

.section:first-child {
	margin-top: 0;
}

.subheader {
	font-style: italic;
	font-size: 16px;
	color: #99999a;
}

#name {
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333338;
    margin-bottom: 30px;
}

hr {
    outline: none;
    margin-bottom: 7px;
    border: none;
    height: 1px;
    background: rgba(0,0,0,0.05);
    margin: 60px;
}

#hr2 {
	margin: 0;
	width: 90px;
	margin-bottom: 14px;
	background: #22FFC0;
}

.subhr {
	width: 30px;
	margin-top: 5px;
}

#career {
    font-size: 24px;
    font-weight: 300;
    color: #99999a;
}

#work-title {
	padding-left: 10px;
}

#contact-title {
	margin-bottom: 30px;
}

.subtitle {
	color: #333338;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#logo {
	height: 80%;
	position: absolute;
	right: 5%;
	bottom: 0;
}

#bio {
	font-size: 18px;
	max-width: 600px;
	font-weight: 400;
	line-height: 1.5;
	color: #99999a;
}

#bio-section {
	padding-left: 10px;
}

#readmore {
	margin: 10px 0;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	border-bottom: 1px solid transparent;
	color: #66666a;
}

#readmore:hover {
	border-bottom: 1px solid #000222;
}

.card-container {
	float: left;
	width: 33.3333%;
	padding: 0 10px;
}

.card {
	background-color: gainsboro;
	height: 400px;
	width: 100%;
}

.card-desc {
    padding: 20px;
    background: #fff;
    padding-left: 10px;
}

.card-header {
	font-size: 20px;
	color: #333338;
}

.card-subheader {
	letter-spacing: 0.01em;
	color: #99999a;
}

#footer {
	color: rgba(0,0,0,0.8);
	bottom: 0;
	padding: 0 60px;
	font-size: 24px;
	width: 100%;
	padding-bottom: 120px;
}

#copyright {
	font-size: 16px;
	color: #66666a;
	border-bottom: 1px solid transparent;
	line-height: 26px !important;
}

#copyright:hover {
	color: #22222a;
  	border-bottom: 1px solid #dddddf;
}

#divider {
	width: 200px;
	margin: 0 auto;
	height: 1px;
	background: rgba(0,0,0,0.1);
}

#contact-text {
	margin-bottom: 30px;
	font-size: 18px;
	max-width: 600px;
	font-weight: 400;
	line-height: 1.5;
	color: #99999a;
}

#social-container {
    margin-top: 30px;
}

.social {
	margin-right: 20px;
	color: #66666a;
	font-size: 16px;
	cursor: pointer;
	border-bottom: 1px solid transparent;
}

.social:hover {
	color: #22222a;
}


@media (max-width: 480px) {
	#name {
		line-height: 1.1;
	}
}