.caption-container {
	display: none;
	width: 40%;
	position: absolute;
	top: 0;
	left: -172px;
	max-width: 150px;
	text-align: right;
	font-size: 14px;
	padding-right: 12px;
	border-right: 1px solid rgba(0,0,0,0.15);
}

.card-container {
	margin-bottom: 45px;
}

#footer-section {
	padding-top: 0;
}

/* Footer Section */

#projects-header {
	float: left;
}

.full-img-container {

}

#webcast-img {
	display: block;
}